# 0 - UGENT
admin6 - UGENT <hpc-admin@lists.ugent.be> admin6 <hpc-admin@lists.ugent.be>
Álvaro Simón Garcia - UGENT <alvaro.simongarcia@ugent.be> Álvaro Simón <varosim@gmail.com>
Andy Georges - UGENT <andy.georges@ugent.be> Andy Georges <itkovian@gmail.com>
Arthur Vercruysse - UGENT <arthur.vercruysse@ugent.be> ajuvercr <arthur.vercruysse@ugent.be>
Balazs Hajgato - UGENT <balazs.hajgato@ugent.be> Balázs Hajgató <balazs.hajgato@ugent.be>
Balazs Hajgato - UGENT <balazs.hajgato@ugent.be> Balazs Hajgato <hajgato@cdc-pc133.ulb.ac.be>
Balazs Hajgato - UGENT <balazs.hajgato@ugent.be> Balazs Hajgato <hajgato@vub.ac.be>
Balazs Hajgato - UGENT <balazs.hajgato@ugent.be> Balázs Hajgató <hajgato@vub.ac.be>
Bart Verheyde - UGENT <bart.verheyde@ugent.be> Bart Verheyde <bart.verheyde@ugent.be>
Ewald Pauwels - UGENT <ewald.pauwels@ugent.be> epauwels <ewald.pauwels@ugent.be>
Ewald Pauwels - UGENT <ewald.pauwels@ugent.be> Ewald Pauwels <ewald.pauwels@ugent.be>
Ewan Higgs - UGENT <ex-ewan.higgs@ugent.be> Ewan Higgs <ewan.higgs@ugent.be>
Ewout Danneels - UGENT <ewout.danneels@ugent.be> EwDa291 <ewout.danneels@ugent.be>
Ivo De Decker - UGENT <ivo.dedecker@ugent.be> Ivo De Decker <ivo.dedecker@ugent.be>
Jens Timmerman - UGENT <ex-jens.timmerman@ugent.be> Jens Timmerman <jens.timmerman@gmail.com>
Jens Timmerman - UGENT <ex-jens.timmerman@ugent.be> Jens Timmerman <jens.timmerman@ugent.be>
Kenneth Hoste - UGENT <kenneth.hoste@ugent.be> kehoste <kenneth.hoste@ugent.be>
Kenneth Hoste - UGENT <kenneth.hoste@ugent.be> Kenneth Hoste <kenneth.hoste@gmail.com>
Kenneth Hoste - UGENT <kenneth.hoste@ugent.be> Kenneth Hoste <kenneth.hoste@ugent.be>
Kenneth Waegeman - UGENT <kenneth.waegeman@ugent.be> Kenneth Waegeman <kenneth.waegeman@ugent.be>
Lara Peeters - UGENT <lara.peeters@ugent.be> Lara Ramona Peeters <49882639+laraPPr@users.noreply.github.com>
Lukas Barragan Torres - UGENT <lukas.barragantorres@ugent.be> Lukas Barragan Torres <lukas.barragantorres@ugent.be>
Mag Selwa - UGENT <mag.selwa@ugent.be> mselwa <mag.selwa@kuleuven.be>
Michiel Lachaert - UGENT <michiel.lachaert@ugent.be> Michiel Lachaert <michiellachaert@outlook.com>
Michiel Lachaert - UGENT <michiel.lachaert@ugent.be> Michiel Lachaert <michiel.lachaert@ugent.be>
Stefan Becuwe - UGENT <stefan.becuwe@ugent.be> sbecuwe <stefan.becuwe@uantwerpen.be>
Stefan Becuwe - UGENT <stefan.becuwe@ugent.be> Stefan Becuwe <stefan.becuwe@uantwerpen.be>
Stijn De Weirdt - UGENT <stijn.deweirdt@ugent.be> stdweird <stijn.deweirdt@ugent.be>
Stijn De Weirdt - UGENT <stijn.deweirdt@ugent.be> Stijn De Weirdt <stijn.deweirdt@ugent.be>
Ward Poelmans - UGENT <ward.poelmans@ugent.be> Ward Poelmans <wpoely86@gmail.com>
Wouter Depypere - UGENT <wouter.depypere@ugent.be> Wouter Depypere <wouter.depypere@ugent.be>
Xander Bil - UGENT <xander.bil@ugent.be> Xander Bil <47951455+xerbalind@users.noreply.github.com>
Xander Bil - UGENT <xander.bil@ugent.be> Xander <xander@biltopia.org>
# 0 - GITHUB
dependabot[bot] - GITHUB <49699333+dependabot[bot]@users.noreply.github.com> dependabot[bot] <49699333+dependabot[bot]@users.noreply.github.com>
GitHub - GITHUB <noreply@github.com> GitHub <noreply@github.com>
# 0 - UANTWERPEN
HPC core facility CalcUA - UANTWERPEN <calcua@uantwerpen.be> HPC core facility CalcUA <calcua@uantwerpen.be>
GeertBorstlap - UANTWERPEN <geert.borstlap@uantwerpen.be> GeertBorstlap <geert.borstlap@uantwerpen.be>
Kurt Lust - UANTWERPEN <kurt.lust@uantwerpen.be> KLust <kurt.lust@uantwerpen.be>
Kurt Lust - UANTWERPEN <kurt.lust@uantwerpen.be> Kurt Lust <kurt.lust@uantwerpen.be>
Kurt Lust - UANTWERPEN <kurt.lust@uantwerpen.be> Kurt Lust <Kurt.Lust@uantwerpen.be>
Thomas Danckaert - UNKNOWN <thomas.danckaert@uantwerpen.be> Thomas Danckaert <thomas.danckaert@uantwerpen.be>
# 0 - UHASSELT
Geert Jan BEX - UHASSELT <geertjan.bex@uhasselt.be> Geert Jan BEX <geertjan.bex@uhasselt.be>
Geert Jan BEX - UHASSELT <geertjan.bex@uhasselt.be> gjb <geertjan.bex@uhasselt.be>
# 0 - UNKNOWN
EwDa291 - UNKNOWN <100782488+ewda291@users.noreply.github.com> EwDa291 <100782488+EwDa291@users.noreply.github.com>
Jasper - UNKNOWN <55832482+jasperjanin@users.noreply.github.com> Jasper <55832482+JasperJanin@users.noreply.github.com>
Lukas Barragan Torres - UNKNOWN <63658577+lbarraga@users.noreply.github.com> Lukas Barragan Torres <63658577+lbarraga@users.noreply.github.com>
Michiel - UNKNOWN <95340152+milachae@users.noreply.github.com> Michiel <95340152+milachae@users.noreply.github.com>
arnedecadt - UNKNOWN <arne.decadt@gmail.com> arnedecadt <arne.decadt@gmail.com>
lara - UNKNOWN <lara@localhost.localdomain> lara <lara@localhost.localdomain>
redfast00 - UNKNOWN <redfast00@gmail.com> redfast00 <redfast00@gmail.com>
redfast00 - UNKNOWN <redfast00@users.noreply.github.com> redfast00 <redfast00@users.noreply.github.com>
sam - UNKNOWN <sammoors@gmail.com> sam <sammoors@gmail.com>
vsc45336 vscuser - UNKNOWN <vsc45336@gligar08.gastly.os> vsc45336 vscuser <vsc45336@gligar08.gastly.os>
Toon Willems - UNKNOWN <willemstoon@gmail.com> Toon Willems <willemstoon@gmail.com>
wpoely86 - UNKNOWN <wpoely86@gmail.com> wpoely86 <wpoely86@gmail.com>
