{% extends "base.html" %}

{% block extrahead %}
<script>
    const store_OS_txt = localStorage.getItem("select_OS")
    if (!!store_OS_txt && window.location.hash.substring(1) != 'force_select_OS') {
        const store_OS = JSON.parse(store_OS_txt)
        // there is no need to escape the store_OS[0], it's not seen as a regexp pattern?
        const href = window.location.href.replace(store_OS[0], store_OS[0] + '/' + store_OS[1])
        console.log("store_OS", store_OS, "orig window href", window.location.href, "new href", href)
        window.location.href = href
    }

</script>
{% endblock %}
