{%- if site == 'Gent' %}
site_url: https://docs.hpc.ugent.be/{{ os }}/
{%- endif %}
site_name: VSC User Documentation - {{ site }} ({{ os }})
docs_dir: docs/HPC
repo_url: https://github.com/hpcugent/vsc_user_docs

nav:
  - Welcome: index.md
  - Introduction to HPC: introduction.md
  - Getting Started: getting_started.md
  - Getting an HPC Account: account.md
  - Connecting to the HPC infrastructure: connecting.md
  - Running batch jobs: running_batch_jobs.md
  - Running interactive jobs: running_interactive_jobs.md
  - Running jobs with input/output data: running_jobs_with_input_output_data.md
  - Multi core jobs/Parallel Computing: multi_core_jobs.md
  - Using the HPC-UGent web portal: web_portal.md
{%- if site == 'Gent' %}
  - Interactive and debug cluster: interactive_debug.md
{%- endif %}
  - XDMoD portal: xdmod.md
  - Troubleshooting: troubleshooting.md
  - HPC Policies: sites/hpc_policies.md
  - Advanced topics:
      - Torque frontend via jobcli: torque_frontend_via_jobcli.md
      - Fine-tuning Job Specifications: fine_tuning_job_specifications.md
      - Multi-job submission: multi_job_submission.md
      - Compiling and testing your software on the HPC: compiling_your_software.md
      - Program examples: program_examples.md
      - Job script examples: jobscript_examples.md
      - Best Practices: best_practices.md
      - Graphical applications with VNC: VNC.md
      - Graphical applications with X2Go: x2go.md
{%- if site == 'Gent' %}
      - GPU clusters: gpu.md
      - Cron scripts: crontab.md
      - Teaching and training: teaching_training.md
  - Linux tutorial:
    - Introduction: linux-tutorial/index.md
    - Getting Started: linux-tutorial/getting_started.md
    - Navigating: linux-tutorial/navigating.md
    - Manipulating files and directories: linux-tutorial/manipulating_files_and_directories.md
    - Uploading files: linux-tutorial/uploading_files.md
    - Beyond the basics: linux-tutorial/beyond_the_basics.md 
    - Common pitfalls: linux-tutorial/common_pitfalls.md
    - More on the HPC infrastructure: linux-tutorial/hpc_infrastructure.md
{%- endif %}
  - Software-specific Best Practices:
      - AlphaFold: alphafold.md
      - Apptainer/Singularity: apptainer.md
      - EasyBuild: easybuild.md
      - Jupyter notebook: jupyter.md
      - MATLAB: MATLAB.md
      - mympirun: mympirun.md
      - OpenFOAM: openFOAM.md
      - Python: python.md
      - Python virtual environments: setting_up_python_virtual_environments.md
  - FAQ:
      - Frequently Asked Questions: FAQ.md
  - Appendices:
      - Appendix A - HPC Quick Reference Guide: quick_reference_guide.md
      - Appendix B - TORQUE options: torque_options.md
      - Appendix C - Useful Linux Commands: useful_linux_commands.md


plugins:
  - search:
      separator: '[\_\s\-,:!=\[\]()"/]+|(?!\b)(?=[A-Z][a-z])|\.(?!\d)|&[lg]t;'
  - include-markdown
  - ugent:
      site: {{ site }}
      os: {{ os }}
      osneutrallinks: True
{%- if site == 'Gent' %}
  - redirects:
      redirect_maps:
          gpu_gent.md: gpu.md
          interactive_gent.md: interactive_debug.md
          crontab_gent.md: crontab.md
{%- endif %}
  - macros:
      on_error_fail: true
      include_yaml:
        - extra/constants.yml
        - extra/{{ lsite }}.yml
  - section-index
  - autorefs
  # - spellcheck
  # - mkdocs-nav-enhancements
  - exclude-search:
      exclude:
        - content/HPC/*


markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - footnotes
  - abbr
  - pymdownx.snippets:
      auto_append:
        - ./includes/abbreviations.md
  - toc:
      permalink: "#"
      baselevel: 1
      toc_depth: 3
  - meta
  - tables
  - md_in_html
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.keys


theme:
  name: material
  language: en
  # This directory allows customization of material theme. Currently used for OS dropdown in header.
  # See https://squidfunk.github.io/mkdocs-material/customization/#extending-the-theme
  custom_dir: docs/HPC/overrides 
  features:
    # - navigation.tabs
    - navigation.top
    - navigation.expand
    # - navigation.indexes
    - navigation.tracking
    - navigation.footer
    # - toc.integrate
    - toc.follow
    # - content.tabs.link
    - navigation.sections
    - navigation.instant
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode 

extra_javascript:
{%- if site == 'Gent' %}
    - https://code.jquery.com/jquery-3.7.0.min.js
    - https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js
    - available_software/javascripts/populate_overview.js
{%- endif %}

extra_css:
{%- if site == 'Gent' %}
    - https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css
{%- endif %}

extra:
  OS: {{ os }}
{% if site == 'Gent' %}
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/HPCUGent
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/@HPCUGent
{% endif %}

